* {
    font-family: "Segoe UI", sans-serif;
    font-size: 16px;
}

.certificate-wrapper {
    max-width: 290px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 30px;
}

.certificate-check-form {
    text-align: center;
}

.certificate-check-form__input {
    border: 1px solid #ccc;
    margin: 10px 0;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.certificate-check-form__button {
    padding: 10px 15px;
    background-color: #64cc09;
    color: #fff;
    border-radius: 5px;
    display: block;
    border: none;
    margin: 0 auto;
    margin-top: 15px;
    cursor: pointer;
}

.certificate-text {
    font-weight: 600;
}

.certificate-link {
    color: #000;
}

.certificate-subtext {
    font-weight: 400;
}

.certificate-subtext__active {
    color: #64cc09;
}

.certificate-subtext__blocked {
    color: #e02730;
}

.certificate__header {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.template-path-for-ajax {
    display: none;
}